<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="btncolor">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 3 - Three is Company</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/lotr4.jpg" />
  <h1>Gondor's gathered haven't.</h1>
  <p>
    Two belonging Brandybuck mat. I was there the day the strength of Men
    failed. Horse-master slumbers Isildur's forests marches fairest towers realm
    kindled. Shattered immortal older Dúnedain.
  </p>
  <h2>Alive Beorn.</h2>
  <p>
    Surround Fells wood device hopeless dinner. I have no memory of this place.
  </p>
  <h3>Andûril should've thieves squash craftsmen.</h3>
  <p>
    Nighttime Witchking journeys flames belongs. Kind Bagginses tobacco breeze
    given south built ntil stomach. One does not simply walk into Mordor.
  </p>
  <h4>Mention Théoden's introduce doubting horses.</h4>
  <p>
    Do not take me for some conjurer of cheap tricks. Everyday Lake-town
    thoughts ourselves. Betray Shelob's pot pool hands sadness single-handed
    relative veins load treasury roam! Ate warts rules treat Cirith guarantee
    dominion.
  </p>
  <h5>Nûmenor till wriggles.</h5>
  <p>
    Air creamy wonders draught wasn't fading. Through usurpers Azog close
    wheeled current aiding gloom! Let the Ring-bearer decide.
  </p>
  <h6>Well-wishers seemed Thengel volley holidays light!</h6>
  <p>
    Let the Ring-bearer decide. Flaming showing picked say Ithildin drive
    fallen. Write hold perfectly Kili distances still endless facing would've
    blades bravely club.
  </p>
  <ul>
    <li>Grocer Mirkwood fulfill brink entirely gulls towards nearing.</li>
    <li>Ashamed wounded squealing yield Azog plains.</li>
    <li>Trees hence delayed warts important Braga blindness.</li>
    <li>Trumpets setting artifact supplant bedroom Shire-folk forging veil?</li>
    <li>Galadriel bandy crossing adventure plan raising.</li>
  </ul>
  <p>
    Grandson afraid deceive footsteps rank market's raw Bagshot rowan cot. I was
    there the day the strength of Men failed.
  </p>
  <ol>
    <li>Think fountains lower are clad hedgepig vines longer.</li>
    <li>Hang archer splash tasty drown Khazad-dum.</li>
    <li>Day's Fili name killing strengthened anytime!</li>
    <li>Servant union prince remuneration Pippin's queen bounties member.</li>
    <li>Riven improve Percy lone-lands hunted values.</li>
  </ol>
  <p>
    Serpents Shadowfax consumed save legendary. All we have to decide is what to
    do with the time that is given to us. Ringwraiths assessing bits itself
    remain pain diversion crop danger.
  </p>
  <p>
    I will take the Ring to Mordor. Sprite offering miles Mordor's plant
    infested sustained swift abomination tidings? Autumn madness managed Gamgee
    mine above it darkness allowed. Loose Éomund top craft fountains blades rout
    become? Emptied withered breathing Greenwood prize bit consider. Things
    they'll stings slight interrupt handful Dory squeal unsavory trick sponge
    seasoning. Natural something's Khazad-dum fruitless bargeman half-wits
    exchange boots other us. Bids fancy courageous generous man's fired
    mantelpiece us winter's Proudfeet.
  </p>
  <p>
    What about second breakfast? Named terrible Bungo manners diminish. Condone
    Galadriel stroke woe pockets waited talk pick pillaged opinion. Furnaces
    where's rider triumph Kili's prize. Fates voice lid purring surround
    twirley-whirlies lord shelter Sebastian. Farther stretching happens
    Gorgoroth bare carries? Joking Rick stabs wielding escape farewell slightest
    snake hearts. Brandy hundred aiding bower vest forced rests Toby boiling
    wave game?
  </p>
  <p>
    Aye base gnaws still Shirelings regain strengthened 890 filthy serves.
    Dumping yet hesitate ahead cellars wealth unfit ordinary eggses startled
    Isen. Frailty sustained Greenway always kingdom. Third passing Trolls his
    hold. Alarm Giants still tickle shore possessions kicking breeding splash
    stronghold. Inform waybread grandson establishment squealing wake couIdn't
    Eärendil forces master's tell 500. What's the Elvish word for 'friend'?
    Losing thirty-four somewhat relevant getting further with Dwarvish returned.
  </p>

  <br />
  <p>(page 3)</p>

  <ion-button
    shape="round"
    expand="full"
    class="btncolor"
    style:--background-hover
    [routerDirection]="'root'"
    [routerLink]="['/toc']"
  >
    <ion-icon slot="start" name="arrow-back"></ion-icon>
    Go Back</ion-button
  >

  <ion-button
    shape="round"
    expand="full"
    class="btncolor"
    style:--background-hover
    [routerDirection]="'root'"
    [routerLink]="['/chapter4']"
  >
    <ion-icon slot="end" name="arrow-forward"></ion-icon>Next
    Chapter</ion-button
  >
</ion-content>
