<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="btncolor">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 4 - A Shortcut to Mushrooms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/mushrooms.jpg" />
  <h1>Fabled adventures eve did Azog offer?</h1>
  <p>Branch mend hurt carried Valar. I can cut across country easily enough.</p>
  <h2>Comfort darken hard maggoty Angmar.</h2>
  <p>
    Denying blessings Buckland. You cannot hide. I see you. There is no life in
    the void. Only death. Wit thank Hornburg witchcraft clear tied smote whom
    succumb spared tomb. Frodo Baggins found underground visitors!
  </p>
  <h3> Bilbo tired.</h3>
  <p>
    Wake cloth Treebeard's that's unhappy rune. You shall not pass! Weakness
    privilege impassable full Greenway.
  </p>
  <h4>Golden Aragorn regretted.</h4>
  <p>
    Resolved Hasufel pillow panic amaze arranged. Rip son Morgul-rats flowing
    starters helped perfectly leaf impatient allow lump listening. I was there
    the day the strength of Men failed.
  </p>
  <h5>Dragon's thief got sapphire Denethor?</h5>
  <p>
    Beast loves demanding honor watchful Chubbs stealing! Denying place
    surrounded éored faced courteous very Thorin Oakenshield taught. I was there
    the day the strength of Men failed.
  </p>
  <h6>Defeats somewhat Ungoliant member grant sent.</h6>
  <p>
    The dark fire will not avail you, flame of Udun! Wrung battles Balrog
    diminish black stuff reasonable songs whim.
  </p>
  <ul>
    <li>So J.R.R. Tolkien thread watched bottles prisoners few track!</li>
    <li>Reign referring marry guessed Grima blade human lodgings.</li>
    <li>Spawn grilled relative Gimli quickened shiny we've.</li>
    <li>Impatient idiot vulnerable retake ale wolf Bifur.</li>
    <li>Borne strayed Greenleaf foundations whim there's shone.</li>
  </ul>
  <p>
    What's the Elvish word for 'friend'? Sends Dwarf-city suspect yearns rest
    bird heirlooms give beauty irons map sharpened.
  </p>
  <ol>
    <li>100 esquire rejoin famous malice unarmed bones Hornburg?</li>
    <li>Out-of-pocket travel throat niceties Hobbitses mood.</li>
    <li>Quickened Sméagol needs mug astride concealed joy.</li>
    <li>Pole breath threats puppet course Goblins sticky.</li>
    <li>Affecting dank arrest Kingdom pan exist hinder?</li>
  </ol>
  <p>
    Belong villager muster foe doorstep armour Anduin who. I was there the day
    the strength of Men failed.
  </p>
  <p>
    Bracegirdle someone ignored shaking! I bid you all a very fond farewell.
    Dunland following corpses? Storming folk cursed began Háma. Théoden wasting
    crawling returned? Misplaced Brandywine tramps? Flames skin-changers waste
    settling bad knocks Thranduil vanishing! Wise Goblins aloft know coneys ugly
    recognizes plant ship. Thousands shrink outer sorceress seasoning corpses
    shut Longshanks breeze time spoke battered!
  </p>
  <p>
    Elfling want green drops ranks delivery brandy party stones! Clad tale Bolg
    staying grow wipe. That is no trinket you carry. Longer rowan Treebeard
    stout cheer outlast twiddle aloft afraid? Possible Smaug suppressed
    nonetheless? Kindness Shadowfax one exchanged. Drops mouse throttle Wraiths
    carven further backs already folk snap store brain. Belonging arrangements
    Ered doilies wandered mattress. Bid skulking stinks shores staff Dwalin.
    Motive sisters squeaked champ deputy Balin.
  </p>
  <p>
    Devil Bagshot Row teaching defeated necks ax both. Northeast sodding lets
    indeed prefers Hardly breeze earned pouf thousands? Haradrim canniest
    separate chance brothers strain denying. High size Helm's Deep bleat picked
    launching belts legs endless smuggler travel handle? Today is my 111th
    birthday! Honest carcasses wisdom particular feelings terribly moved pint
    seat trod Dory saved. Feverfew hide vest wealth Dain took flutters mine's
    fates day's guarantee! Alarm mouths man's backs locked all Anduin climbing!
  </p>

  <br />
  <p>(page 4)</p>

  <ion-button
    shape="round"
    expand="full"
    class="btncolor"
    style:--background-hover
    [routerDirection]="'root'"
    [routerLink]="['/toc']"
  >
    <ion-icon slot="start" name="arrow-back"></ion-icon>
    Go Back</ion-button
  >

  <ion-button
    shape="round"
    expand="full"
    class="btncolor"
    style:--background-hover
    [routerDirection]="'root'"
    [routerLink]="['/chapter5']"
  >
    <ion-icon slot="end" name="arrow-forward"></ion-icon>Next
    Chapter</ion-button
  >
</ion-content>
