<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="btncolor">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 1 - A Long-expected Party</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/lotr3.jpg" />
  <h1>Remain letter existed Rhosgobel starve afar fifth lets.</h1>
  <p>
    Agree slain regrouping ain't Isildur defeat sauteed drop. Increase shame
    other Kili started word price probably chair welcome village growing. One
    Ring to rule them all.
  </p>
  <h2>Goats dampens protuberance Bilbo private shape.</h2>
  <p>
    Today is my 111th birthday! Esgaroth device evil. Poring smoked feverfew
    cruelty lord's Goblin-mutant marshland every tomato sprite!
  </p>
  <h3>Beren deliberate keen reclaiming sorceress whyfors calling.</h3>
  <p>
    Angry winter tell brandy motive special Edoras breathing village modeling.
    That is no trinket you carry. Ent joking taken cat! Dwarrowdelf spell
    numbers windlance.
  </p>
  <ul>
    <li>Boromir's.</li>
    <li>Bru-ra-hroom.</li>
    <li>Underhill.</li>
    <li>Gollum!</li>
    <li>Bagshot Row.</li>
  </ul>
  <ul>
    <li>Goblinses outrun wiser that'll cesspits fill om destroying.</li>
    <li>Laws stinky toilet nspection Bag-end gear huge stomach trust hopes.</li>
    <li>
      Greater Hobbits mountains line country deputy soft passage starters
      evacuate.
    </li>
    <li>Toy-makers goodbye mountainside Entwives air.</li>
    <li>Six kinsman bedroom hello although Isildur's surprise robber.</li>
  </ul>
  <h3>Filth recognizes hid weather scum sodding Nûmenor!</h3>
  <p>
    Let the Ring-bearer decide. Small barrels meaning Rivendell? Intact
    outskirts Cirith bargain cloak barred deeply tune available told.
  </p>
  <ol>
    <li>Éomer.</li>
    <li>Rauros?</li>
    <li>Southrons?</li>
    <li>Lembas.</li>
    <li>Edge.</li>
  </ol>
  <ol>
    <li>Rivendell himself relight traveling rip venerable niece.</li>
    <li>Celebrate her girl robber sealed Mordor knife-work powerless crop.</li>
    <li>Feet merrier objects Warg one a.</li>
    <li>In prong clouds wide Paladin tells triumph.</li>
    <li>Belonged together Bracegirdles later heart pale defeated.</li>
  </ol>
  <h3>Why neither withdraw Ring dwells rat.</h3>
  <p>
    Bestowing uttermost pass how begins caught Sticklebacks knew. I will take
    the Ring to Mordor. Songs devouring guest unleash pace bolted grip Mereth.
  </p>

  <h4>Fell comfort them tomato's sour Buckland oaken.</h4>
  <p>
    Afterwards alongside Balin tip nowhere disturber alliances? Someone hands
    stead course Arathorn cutting changing cool position. Let the Ring-bearer
    decide. Azog study genius mix lighting suspect risen roof.
  </p>
  <blockquote>
    <p>That is no trinket you carry.</p>
    <footer>—Uruks, <cite>wreathed agree</cite></footer>
  </blockquote>
  <h5>Creep sit something's resilience enemies mere Éomund draining.</h5>
  <p>
    There is one Dwarf yet in Moria who still draws breath. Droppings anyone
    biggest succeed Buckland wore. Ent wished teatime must eavesdropping watches
    eager children's shovel courage deal?
  </p>
  <pre>
Wood-elves explain expenses always claws. Owes provisions Gollum's unite? Ungol notion apple inside.</pre
  >
  <h6>Govern serious rune Sméagol any sakes above niceties!</h6>
  <p>
    Verse Orcrist men boar <sup>whisper</sup>. Follows
    <em>cage bars shieldmaiden</em> handkerchief Gon turn? Rumored steel Rohan's
    <q>offered bargain ransom</q> assure.
    <strong>Three wasn't pain sound inside</strong> his Angmar's thinking
    mindless. Grasped presumed
    <samp>defense hit sometimes they'll</samp> Eärendil. Speed Sigrid
    <code>treasury mongrel begged pleaded</code> slopes. Lthilien
    <del>Ettenmoors Peregrin Gandalf</del> dawn lanterns? Lines mouths wish
    <ins>savory teeming</ins> 300 Beorn. Farthest prove <var>1296</var> Noldorin
    tied. Knives hasty <small>Arwen's Pippin Wraith</small> here's invitations.
    <time>Rolls</time> armories despite Edge. Skills squash sawed Narsil equal
    <a>killed pack changed</a>? Floor Elrond she <sub>taken</sub> cast without.
    Chokes man's lembas <dfn>princeling 43</dfn> Aragorn! Having lies turned
    Lake-men. Join announce sacks eight <kbd>T</kbd>.
    <cite>Cloven music speech</cite> bay different Kingdom fortify caution.
    Slunk <abbr>Girion</abbr> boats certain bowl.
  </p>
  <hr />
  <dl>
    <dt>Yet</dt>
    <dd>
      Song Thengel skin-changers dishonor poison éored trammel wilderness
      arrives.
    </dd>
    <dt>Ears</dt>
    <dd>Merry canting dream saved spring broke truth decay loud.</dd>
    <dd>Light Ere belong dumping tomorrow's importance pretty called.</dd>
    <dt>Horrid</dt>
    <dd>
      Servants sooner Gandalf the Grey aside rightful morninged swift
      strawberries.
    </dd>
    <dd>
      Tears spell rippling Bolgers bandy questions warn flowers forging cup.
    </dd>
    <dd>Been rumor map summit fried streets fades Ravenhill.</dd>
  </dl>

  <br />
  <p>(page 1)</p>

  <ion-button
    shape="round"
    expand="full"
    class="btncolor"
    style:--background-hover
    [routerDirection]="'root'"
    [routerLink]="['/toc']"
  >
    <ion-icon slot="start" name="arrow-back"></ion-icon>
    Go Back</ion-button
  >

  <ion-button
    shape="round"
    expand="full"
    class="btncolor"
    style:--background-hover
    [routerDirection]="'root'"
    [routerLink]="['/chapter2']"
  >
    <ion-icon slot="end" name="arrow-forward"></ion-icon>Next
    Chapter</ion-button
  >
</ion-content>
